<div class="input-group col-sm-10">
	<input type="text" [% if disabled %] disabled="disabled"[% end %] autocomplete="off" class="form-control" placeholder="[% placeholder %]" aria-describedby="basic-addon1" name="[% nom %]" value="[% value %]">
</div>